/* =========================================
   Charts
========================================= */

.chart-container{

    background:var(--color-card);

    border:1px solid var(--color-border);

    border-radius:14px;

    padding:24px;

    height:500px;
    

}

.chart-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:24px;

}

.chart-title{

    font-size:18px;

    font-weight:600;

}

.chart-body{

    position:relative;

    height:320px;

}

.chart-body canvas{

    width:100%!important;

    height:100%!important;

}