/* =========================================
   Header
========================================= */

.header {

    grid-area: header;

    position: fixed;

    top: 0;
    left: var(--sidebar-width);
    right: 0;

    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 32px;

    background: var(--color-surface);

    border-bottom: 1px solid var(--color-border);

    transition: left .25s ease;

    z-index: var(--z-header);

}

.sidebar:hover~.header {

    left: var(--sidebar-expanded-width);

}

.header-left,
.header-right {

    display: flex;
    align-items: center;

}

.header-left {

    gap: 40px;

}

.header-title {

    font-size: 22px;
    font-weight: 700;

}

.header-meta {

    display: flex;

    gap: 28px;

}

.meta-item {

    display: flex;
    flex-direction: column;

}

.meta-label {

    font-size: 12px;

    color: var(--color-text-muted);

}

.meta-value {

    font-size: 14px;

    font-weight: 600;

}

.theme-toggle {

    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    cursor: pointer;

    transition: .2s;

}

.theme-toggle:hover {

    background: var(--color-card);

}